/****** CSS VARIABLES ******/

:root {
  --Poppins: "Poppins", sans-serif;
  --OpenSans: "Open Sans", sans-serif;
  --primary-color-1: #EB5937;
  --primary-color-2: #1C1919;
  --secondary-color-1: #403D3C;
  --secondary-color-2: #456F74;
}

/****** GLOBAL CSS ******/

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1400px;
}

/****** COMMON CSS ******/

.about,
.categories,
.reviews {
  margin-top: 2rem;
  padding-top: 2rem;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

h1,
h2,
h3,
h4 {
  font-family: var(--Poppins);
}

h2,
h3,
h4 {
  font-weight: 600;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: .9rem;
}

h5 {
  font-size: .77rem;
  font-weight: 700;
}

p {
  font-family: var(--OpenSans);
  font-size: .9rem;
  font-weight: 500;
  color: --secondary-color-2;
}

.section-header {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title h1 {
  margin-bottom: .1rem;
  color: var(--primary-color-1);
  letter-spacing: .05rem;
}

.section-title h4 {
  position: relative;
  color: var(--secondary-color-1);
}

.section-title h4:before,
.section-title h4:after {
  content: " ";
  display: inline-block;
  height: .15rem;
  background-color: var(--primary-color-1);
}

.section-header a {
  display: inline-block;
  padding: .4rem .6rem;
  font-family: var(--Poppins);
  font-size: .9rem;
  color: var(--primary-color-2);
  text-decoration: none;
  border: 2px  double var(--primary-color-1);
  background-color: white;
  border-radius: .2rem;
  transition: all .3s ease;
  box-shadow: 5px 7px 5px var(--secondary-color-2);
}

.section-header a:hover {
  background: white;
  color: var(--primary-color-1);
}

/******** Header CSS ********/

header {
  font-family: var(--Poppins);
}

.navbar .navbar-brand {
  margin-left: 5rem;
  font-size: .85rem;
  color: var(--primary-color-2);
}

.navbar .nav-link {
  font-size: .9rem;
  font-weight: 600;
  color: var(--primary-color-1);
}

.navbar .nav-link:hover {
  color: var(--primary-color-2);
}

.navbar .nav-link i {
  font-size: 1rem;
}

.home .carousel-control-prev,
.home .carousel-control-next {
  color: var(--primary-color-2);
}

.navbar .navbar-toggler i {
  color: var(--primary-color-1);
}

.navbar .navbar-toggler:focus{
  box-shadow: none;
}

/******** HOME CSS ********/

.home .home-left,
.home .home-right {
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .home-right {
  background-color: rgba(0, 0, 0, .05);
}

.home .home-body {
  margin: 0 5rem;
}

.home .home-body h1 {
  color: var(--primary-color-1);
  letter-spacing: .1rem;
  transform: translateX(-.5%);
}

.home .home-body p {
  text-align: justify;
}

.home img {
  width: 75%;
}

.home button i {
  font-size: 1.5rem;
  color: black;
}

/******** ABOUT CSS ********/

.about .me img {
  width: 70%;
  opacity: .9;
}

.about-body {
  position: absolute;
  top: 0;
  left: -8rem;
  padding: 3rem 3rem;
  background: white;
  z-index: 1;
}

.about .about-body h1 {
  margin-bottom: .2rem;
}

.about .about-body p {
  text-align: justify;
}

/******** Сategories CSS ********/

.categories {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.categories .section-title h4:before,
.categories .section-title h4:after {
  width: 1.5rem;
}

.categories .card {
  border-radius: 1rem;
  border: 2px solid rgba(253, 0, 0, .05);
  box-shadow: 4px 4px 5px 1px var(--secondary-color-2);
  transition: all .4s ease;
  padding: 1rem .2rem .1rem;
}

.categories .card:hover {
  box-shadow: 8px 8px 10px 1px var(--secondary-color-2);
}

.categories .card img {
  width: 30%;
}

.categories .card-title {
  color: var(--primary-color-1);
}

.categories .card-text {
  font-size: .85rem;
  font-weight: 600;
  color: var(--primary-color-2);
}


.pizza {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.pizza .section-title h4:before,
.pizza .section-title h4:after {
  width: 6.3rem;
}

.pizza img {
  border-radius: 5%;
}


.reviews {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.reviews .section-title h4:before,
.reviews .section-title h4:after {
  width: 1rem;
}

.reviews .review-box {
  margin-right: .5rem;
  margin-left: .5rem;
  padding: .5rem;
  text-align: center;
  border-radius: 3%;
  border: .2rem solid var(--primary-color-1);
  background-color: var(--primary-color-1);
  transition: all .6s ease;
}

.reviews .review-box p {
  margin-top: 1rem;
  color: white;
  font-weight: 600;
  transition: all .6s ease;
}

.reviews .review-box h3 {
  color: white;
  font-weight: 600;
  transition: all .6s ease;
}

.reviews .review-box img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: .4rem solid white;
  transition: all .6s ease;
}

.reviews .review-box:hover {
  background: white;
}

.reviews .review-box:hover p {
  color: var(--primary-color-2);
}

.reviews .review-box:hover h3 {
  color: var(--primary-color-1);
}

.reviews .review-box:hover img {
  border-color: var(--primary-color-1);
}

.reviews .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -4rem !important;
}

.reviews .carousel-indicators button {
  margin-right: .6rem;
  width: .6rem;
  height: .6rem;
  border-radius: 50%;
  background-color: var(--primary-color-1) !important;
}

.reviews .carousel-control-prev {
  transform: translateX(-100%);
}

.reviews .carousel-control-next {
  transform: translateX(100%);
}

.reviews .carousel button i {
  font-size: 2rem;
  color: var(--primary-color-1);
}

/******** FOOTER CSS ********/

footer {
  margin-top: 5rem;
  padding: 3rem;
  color: var(--primary-color-1);
  background: var(--primary-color-2);
}

footer h2 {
  color: var(--primary-color-1);
}

footer p {
  font-size: .8rem;
}

footer .footer-end-text {
  margin-top: 5rem;
  font-size: .7rem;
  font-family: var(--OpenSans);
  font-weight: 600;
  letter-spacing: .5px;
}

footer .footer-end-text > span {
  display: block;
  margin-top: .1rem;
  color: var(--primary-color-1);
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: var(--secondary-color-2) !important;
}

footer .socials i {
  margin-bottom: 1rem;
  margin-right: .8rem;
  font-size: 1.2rem;
  color: white;
  transition: all .3s ease;
}

footer .socials .fa-facebook-f:hover {
  color: rgb(0, 81, 255);
}

footer .socials .fa-instagram:hover {
  color: rgb(255, 2, 141);
}

footer .socials .fa-twitter:hover {
  color: rgb(0, 162, 255);
}

footer .socials .fa-youtube:hover {
  color: rgb(226, 5, 5);
}

div.cs-select {
  display:inline-block;
  vertical-align:middle;
  position:relative;
  text-align:left;
  width:100%;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  border:2px solid #64a6b5;
  border-radius:2px;
  background:#fff
}

div.cs-select:focus {
  outline:0
}

.cs-select select {
  display:none
}

.cs-select span {
  display:block;
  position:relative;
  cursor:pointer;
  padding:8px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis
}

.cs-select>span {
  padding-right:3em
}

.cs-select .cs-selected span::after,.cs-select>span::after {
  speak:none;
  position:absolute;
  top:50%;
  -webkit-transform:translateY(-50%);
  transform:translateY(-50%);
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}

.cs-select>span::after {
  content:'\25BE';
  right:1em
}

.cs-select .cs-selected span::after {
  content:'\2713';
  margin-left:1em
}

.cs-select.cs-active>span::after {
  -webkit-transform:translateY(-50%) rotate(180deg);
  transform:translateY(-50%) rotate(180deg);
  padding-left:0;
  line-height:51px
}

.cs-select .cs-options{position:absolute;overflow:hidden;width:100%;background:#fff;visibility:hidden}

.cs-select.cs-active .cs-options{visibility:visible;z-index:999}

.cs-select ul{list-style:none;margin:0;padding:0;width:100%;max-height:250px}

.cs-select ul li.cs-focus span{background-color:#ddd}

.cs-select li.cs-optgroup ul{padding-left:1em}

.cs-select li.cs-optgroup>span{cursor:default}

div.cs-skin-elastic{background:0 0;font-size:13px}

.cs-skin-elastic>span{background-color:#fff}

.cs-skin-elastic>span::after{font-family:hg-icons;content:"\e901";
  -webkit-backface-visibility:hidden;backface-visibility:hidden;background:#64a6b5;color:#fff;
  top:16px;height:48px;line-height:48px;width:17px;text-align:center;right:0;font-size:10px;padding-left:2px}
  
.cs-skin-elastic .cs-options{overflow:visible;
    background:0 0;opacity:1;pointer-events:none;box-shadow:0 1px 3px rgba(0,0,0,.15);margin-top:2px}
    
.cs-skin-elastic.cs-active .cs-options{pointer-events:auto}
    
.cs-skin-elastic .cs-options>ul::before{box-shadow:0 1px 3px rgba(0,0,0,.15);
      content:'';position:absolute;width:100%;height:100%;left:0;top:0;-webkit-transform:scale3d(1,0,1);transform:scale3d(1,0,1);
      background:#fff;-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-transition:-webkit-transform .3s;transition:transform .3s}
      
.cs-skin-elastic.cs-active .cs-options>ul::before{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1);
        -webkit-transition:none;transition:none;-webkit-animation:expand .6s ease-out;animation:expand .6s ease-out}
        
.cs-skin-elastic .cs-options ul li{opacity:0;-webkit-transform:translate3d(0,-25px,0);
transform:translate3d(0,-25px,0);-webkit-transition:opacity .15s,-webkit-transform .15s;transition:opacity .15s,transform .15s}

.cs-skin-elastic.cs-active .cs-options ul li{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);opacity:1;-webkit-transition:none;
transition:none;-webkit-animation:bounce .6s ease-out;animation:bounce .6s ease-out}

.cs-skin-elastic.cs-active .cs-options ul li[data-option]:hover{background:#64a6b5}.cs-skin-elastic .cs-options span{background-repeat:no-repeat;
background-position:1.5em 50%;background-size:2em auto;padding:10px}

.cs-skin-elastic .cs-options li[data-option] span:hover,.cs-skin-elastic .cs-options li[data-option].cs-focus span{color:#fff;background:#64a6b5}

@-webkit-keyframes expand{  
  0%{-webkit-transform:scale3d(1,0,1)}
  25%{-webkit-transform:scale3d(1,1.2,1)}  
  50%{-webkit-transform:scale3d(1,.85,1)}
  75%{-webkit-transform:scale3d(1,1.05,1)}  
  100%{-webkit-transform:scale3d(1,1,1)}
}

@keyframes expand{  
  0%{-webkit-transform:scale3d(1,0,1);transform:scale3d(1,0,1)}  
  25%{-webkit-transform:scale3d(1,1.2,1);transform:scale3d(1,1.2,1)}  
  50%{-webkit-transform:scale3d(1,.85,1);transform:scale3d(1,.85,1)}  
  75%{-webkit-transform:scale3d(1,1.05,1);transform:scale3d(1,1.05,1)}
  100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
}

@-webkit-keyframes bounce{
  0%{-webkit-transform:translate3d(0,-25px,0);opacity:0}
  25%{-webkit-transform:translate3d(0,10px,0)}
  50%{-webkit-transform:translate3d(0,-6px,0)}
  75%{-webkit-transform:translate3d(0,2px,0)}
  100%{-webkit-transform:translate3d(0,0,0);opacity:1}
}
  
@keyframes bounce{
  0%{-webkit-transform:translate3d(0,-25px,0);transform:translate3d(0,-25px,0);opacity:0}
  25%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)}
  50%{-webkit-transform:translate3d(0,-6px,0);transform:translate3d(0,-6px,0)}
  75%{-webkit-transform:translate3d(0,2px,0);transform:translate3d(0,2px,0)}
  100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);opacity:1}
}
